ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
    padding-bottom: 10px;
    display: block;
    clear: both;
    width: 98%;
    margin-left: auto;
    margin-right: auto;

}

main {
    clear: both;
}

footer {
    clear: both;
    text-align: center;
    color: red;
}

.cat-image {
    position: relative;
    width: 100%;
    display: none;
    margin:0;
}

.cat-image img {
    width: 100%;
    max-height: 500px;
}


.section-title {
    color: blue;
    font-size: 1.3em;

}

.carousel-indicators {
    position: absolute;
    z-index: 6;
    bottom: 0;
    left: 30%;
}
.carousel-indicators li {
    list-style: none;
    border: 1px blue solid;
    border-radius: 16px;
    display: inline-block;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.carousel-indicators li.active {
    background-color: blue;
}

.cat-image.active {
    display: block;
    -webkit-animation: fadein 1s;
}

@keyframes fadein {
    from {opacity: 0.5;}
    to {opacity: 1;}
}


.carousel {
    width: 100%;
    position: relative;
}
.carousel-navigation {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;
    width: 8%;
    z-index: 15;
    cursor: pointer;
}

.carousel-navigation.next {
    right: 0;
    left: auto;
}

.carousel-navigation img {
    width: 40%;
}

@media(min-width: 500px) {
    .carousel-indicators {
        left: 46%;
    }
}
@media (min-width: 800px) {
    section {
  
        
    }
    
}