body {
    width: 100%;
    padding: 2%;
    font-size: 14px;
}

.meteo-card {
    width: 100%;
    margin: auto;
}

.meteo-card-header {
    background-color: deepskyblue;
}

.meteo-card-header img {
    margin-right: 10px;
}
.meteo-forecast-day {
    float: left;
    margin-right: 5%;
    text-align: center;
    margin-top: 3%;
}

.meteo-forecast-day-label {
    font-weight: bold;
}

.meteo-forecast-week {
    padding-left: 5%;
    width: 100%;
}

.meteo-forecast-day img {
    display: block;
    margin: 10px 0 10px 0;
}

.meteo-forecast-day .meteo-day-high {
    float: left;
    font-weight: bold;
}

.meteo-forecast-day .meteo-day-low {
    float: right;
}